RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/app_dev.php
RewriteRule ^.*$ /app_dev.php [NC,L,QSA]
RewriteRule ^$ /app_dev.php [NC,L,QSA]